<div class="header">
  <img src="../assets/2022-arcadia-full.png" alt="" />
</div>
<div class="main">
  <h1 class="ccda-generator-title">CCDA Generator</h1>
  <form class="input-form" [formGroup]="excelInputForm">
    <input
      id="filePanel"
      placeholder="Upload file"
      formControlName="fileInput"
      readonly
    />
    <input
      type="file"
      id="fileInput"
      #fileInput
      accept=".xlsx"
      (change)="onFileChange($event)"
      style="display: none"
    />
    <label for="fileInput" class="custom-btn">Choose file</label>
    <button
      [ngClass]="
        excelInputForm.get('fileInput')?.value &&
        excelInputForm.get('fileInput')?.value !== 'Upload file'
          ? 'custom-btn generate-btn'
          : 'btn-disabled'
      "
      (click)="onSubmit()"
      [disabled]="
        !(
          excelInputForm.get('fileInput')?.value &&
          excelInputForm.get('fileInput')?.value !== 'Upload file'
        )
      "
    >
      Generate CCDA
    </button>
  </form>
  <div class="generate-ccda-response" *ngIf="isApiResponse">
    <p>{{ message }}</p>
  </div>
</div>
