.header {
  background-color: black;
  padding: 1rem 0;
  text-align: center;
  height: 15vh;
}

.main {
  background-color: #1b182c;
  height: 85vh;
  padding-top: 3rem;
}

.ccda-generator-title {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

.input-form {
  background-color: #090322;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

#filePanel {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 4rem;
  width: 80%;
  color: darkgray;
}

.custom-btn {
  color: #1ef3b3;
  background-color: #090322;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: block;
  margin: 1rem auto 0 auto;
  width: fit-content;
  border: none;
  border-radius: 0.2rem;
  outline: 1px solid #1ef3b3;
}

.custom-btn:hover {
  background-color: #1ef3b3;
  color: #090322;
}

.generate-btn {
  font-size: 1rem;
  font-weight: 600;
  margin: 1.5rem auto 0 auto;
}

.btn-disabled {
  background-color: #ddd;
  color: gray;
  padding: 0.5rem 1rem;
  cursor: not-allowed;
  display: block;
  margin: 1.5rem auto 0 auto;
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.2rem;
}

.generate-ccda-response {
  width: 60%;
  height: 50px;
  background-color: white;
  margin: 2rem auto 0 auto;
  border-radius: 0.5rem;
}

.generate-ccda-response p {
  padding: 1rem;
  text-align: center;
}

.invalid-file {
  color: white;
  margin-top: 1rem;
  font-weight: bold;
}
