<div class="header">
  <img src="../assets/2022-arcadia-full.png" alt="" />
</div>
<div class="main">
  <form class="input-form" [formGroup]="inputForm">
    <input
      id="filePanel"
      placeholder="Upload file"
      formControlName="fileInput"
      readonly
    />
    <input
      type="file"
      id="fileInput"
      #fileInput
      accept=".xlsx"
      (change)="onFileChange($event)"
      style="display: none"
    />
    <label for="fileInput" class="input-label">Choose file</label>
    <button class="input-label">Generate CCDA</button>
  </form>
</div>
